@media only screen and (min-width:500px){
    .nav{
        grid-template-areas: 
        "top top top top"
        "top1 top1 top1 top1";
    }
}

@media only screen and(max-width:700px){
    .navigation{
        grid-gap: 4rem;
        grid-template-areas: 
        "img img img img "
        "navi navi navi navi";
    }
    .img{
        display: none;
    }
    
}
@media  only screen and (min-width:1090px){
.about{
    grid-template-areas: 
   "about-about about-about about-about about-about"
    "about-pic  about-pic  about-pic  about-pic";
}
}
    
